* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #202020;
  background-color: #000;
  font-family: "Inter", "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

.wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
}

.main {
  height: 100vh;
}

.title {
  line-height: 1.1;
  margin: 40px 0 60px;
  color: #fff;
  font-size: 63px;
  font-weight: 500;
  letter-spacing: -2px;
}

.resume {
  padding: 40px;
  background: #fff;
  background-color: #f6f6f7;
  border-radius: 20px;
  margin-bottom: 40px;
}

.resume-link {
  display: inline-block;
}
.resume-link div {
  cursor: pointer;
  display: inline-block;
  padding: 6px 11px 6px 7px;
  font-size: 12px;
  letter-spacing: -0.9px;
  color: #fff;
  background-color: #115dfc;
  border-radius: 20px;
  vertical-align: middle;
}

.content {
  padding: 40px;
  border-radius: 20px;
}
.content-title {
  letter-spacing: -1px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
}
.content-f {
  background-color: #f6f6f7;
}
.content-s {
  margin-top: 5px;
  background-color: #bcd6f0;
}
.content-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  row-gap: 30px;
}
@media screen and (max-width: 480px) {
  .content-list {
    grid-template-columns: 1fr;
  }
}
.content-list div {
  cursor: pointer;
}
.content-list-img {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 16px;
  aspect-ratio: 3/2;
}
.content-list-img img {
  width: 100%;
}
.content-list-title {
  margin-top: 10px;
  font-size: 16px;
  color: #202020;
  letter-spacing: -0.9px;
}
.content-list-desc {
  font-size: 12px;
  color: #929292;
  letter-spacing: -0.9px;
}

.modal-content {
  max-width: 700px;
  width: 100%;
  background-color: #f6f6f7;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .modal-content {
    width: 90%;
    margin: 0 auto;
  }
}
.modal-content section {
  padding: 40px 0;
  margin: 0 40px;
}
@media screen and (max-width: 480px) {
  .modal-content section {
    margin: 0 20px;
  }
}
.modal-content-down {
  padding-bottom: 0px !important;
  text-align: right;
}
.modal-content-down a {
  cursor: pointer;
  display: inline-block;
  padding: 5px 8px 5px 8px;
  font-size: 12px;
  letter-spacing: -0.9px;
  border-radius: 20px;
  vertical-align: middle;
  color: #fff;
  background-color: #b2b2b2;
}
.modal-content-down a i {
  margin-right: 4px;
}
.modal-content-first {
  padding-top: 20px !important;
  display: flex;
}
.modal-content-first img {
  width: 150px;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .modal-content-first img {
    width: 120px;
  }
}
.modal-content-first .desc {
  padding: 20px;
  text-align: left;
}
.modal-content-first .desc h4 {
  margin-bottom: 20px;
  font-size: 18px;
}
.modal-content-first .desc h4 span {
  margin-left: 2px;
  color: #808080;
  font-weight: normal;
  font-size: 16px;
}
.modal-content-first .desc p {
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .modal-content-first .desc p {
    font-size: 12px;
  }
}
.modal-content-first .desc p span {
  margin-right: 2px;
  color: #808080;
}
.modal-content-first .desc p + p {
  margin-top: 5px;
}
.modal-content-second {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #e7e7e7;
}
.modal-content-second div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content-second div h5 {
  font-size: 14px;
  color: #808080;
  font-weight: normal;
}
@media screen and (max-width: 480px) {
  .modal-content-second div h5 {
    font-size: 13px;
  }
}
.modal-content-second div p {
  margin-top: 10px;
  font-size: 13px;
}
.modal-content-second div p span {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .modal-content-second div p {
    font-size: 12px;
  }
}
.modal-content-third {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal-content-third h2 {
  letter-spacing: -1.5px;
  text-align: left;
  margin-bottom: 10px;
}
.modal-content-third a {
  display: flex;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.modal-content-third a:hover img {
  transform: scale(1.05);
  opacity: 0.8;
}
.modal-content-third a img {
  width: 100%;
  transition: all ease-in 0.3s;
}
.modal-content-third p {
  margin-top: 20px;
  align-self: flex-end;
  font-size: 12px;
  opacity: 0.5;
  letter-spacing: -1px;
}

.pins {
  margin-bottom: 20px;
}

.pin {
  display: inline-block;
  padding: 5px 8px 5px 8px;
  font-size: 11px;
  letter-spacing: -0.9px;
  border-radius: 20px;
  vertical-align: middle;
  font-weight: 600;
}
.pin + .pin {
  margin-left: 2px;
}
.pin.blue {
  color: #488cfe;
  background-color: #e3f2fd;
}
.pin.yellow {
  color: #ffb620;
  background-color: #fff8e1;
}
.pin.green {
  color: #4caf50;
  background-color: #e8f5e9;
}

html.modal-active, body.modal-active {
  overflow: hidden;
}

#modal-container {
  position: fixed;
  display: table;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
#modal-container.open {
  transform: scale(1);
}
#modal-container.open .modal-background {
  background: rgba(0, 0, 0, 0);
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.open .modal-background .modal {
  opacity: 0;
  animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.open + .content {
  animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.open.out {
  animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.open.out .modal-background {
  animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.open.out .modal-background .modal {
  animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.open.out + .content {
  animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  display: inline-block;
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  color: #fff;
}
.footer span {
  font-size: 12px;
  letter-spacing: -0.6px;
}/*# sourceMappingURL=style.css.map */