@charset "utf-8";

* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li,
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-size: 14px;
    color: #666;
}

/*header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    width: 100%;
    padding: 20px 40px;
    background-color: #0058a6;
}

.logo a {
    display: block;
}

#nav {
    width: 60%;
    margin: 0 40px;
    font-size: 14px;
}
#nav ul {
    display: flex;
    justify-content: space-between;
}

#nav ul li:not(:first-child) {
    margin-left: 50px;
}

#nav ul li a {
    position: relative;
    display: block;
    font-weight: 600;
    color: #fff;
}

#nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    display: inline-block;
    width: 0;
    height: 3px;
    background: #fcd94a;
    transition: 0.35s ease;
}

#nav ul li a:hover:after {
    width: 100%;
}

.buttons {
    display: flex;
    font-size: 12px;
}

.buttons li:not(:first-child) {
    margin-left: 25px;
}

.buttons li a {
    display: block;
    font-weight: 600;
    color: #fff;
}

.toggle-btn {
    cursor: pointer;
}

.toggle i {
    font-size: 30px;
    color: #fff;
}

.close-btn i {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #818181;
  }

/*footer*/

.footer {
    width: 100%;
    padding: 20px 40px;
    background-color: #0058a6;
    color: #fff;
}

.copyright {
    text-align: center;
}

.toggle {
    display: none;
}

/*모바일*/
@media (max-width:768px) {
    .header {
        padding: 10px 20px;
    }
    #nav,
    .buttons {
        display: none;
    }
    .toggle {
        display: block;
    }
    .toggle-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        margin: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
    .toggle-nav ul {
        flex-direction: column;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
    .toggle-nav ul li:not(:first-child){
        margin: 0;
    }
    .toggle-nav ul li a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .toggle-nav ul li a:hover, .toggle-nav ul li a:focus {
        color: #f1f1f1;
    }
    .footer {
        padding: 10px 20px;
    }
}

