@charset "utf-8";

.category > nav > ul > li {
    color: #fcd94a;
    font-weight: 700;
}

#submenu {
    width: 1200px;
    height: 50px;
    margin: 10px auto;
}

#submenu > ul {
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 35px;
}

#submenu > ul > li {
    float: left;
    margin: 0 0 0 10px;
}

#submenu > ul > li > a {
    color: #666;
}

#submenu > ul > li > a:hover {
    text-decoration: underline;
}

#productbox {
    width: 1200px;
    height: 780px;
    margin: 20px auto;
}

#productbox > .productimg {
    width: 540px;
    height: 540px;
    float: left;
    margin: 0 0 0 60px;
}

#productbox > .productimg > img {
    width: 540px;
}

#productbox > .productimg > .productimgsub {
    width: 400px;
    height: 100px;
    margin: 5px 0 0;
}

#productbox > .productimg > .productimgsub > ul > li {
    float: left;
    margin: 0 10px 0 0;
}

#productbox > .productimg > .productimgsub > ul > li > a > img {
    width: 70px;
    opacity: 0.7;
    transition: 0.3s;
}

#productbox > .productimg > .productimgsub > ul > li > a > img:hover {
    opacity: 1;

}

#productbox > .tablebox {
    width: 590px;
    float: right;
}

td {
    padding: 0 70px;
}

.table1 {
    font-size: 15px;
    color: #666;
    width: 560px;
    height: 435px;
}

.td1 {
    font-weight: 600;
    font-size: 21px;
    color: #666;
}

.td3 {
    padding: 0 100px;
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.td3:before {
    content: "$";
    font-size: 12px;
}

.td4 > a {
    color: #666;
}

.td5 {
    font-size: 13px;
    text-decoration: underline;
}

.td6 > a {
    color: #666;
    text-decoration: underline;
}

.td6 > a:hover {
    text-decoration: underline;
}

.tablebox > button {
    margin: 20px 0 20px 75px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    background-color: #00589e;
    color: white;
    padding: 15px 165px;
    outline: none;
}

.tablebox > button:hover {
    cursor: pointer;
}

.with {
    margin: 30px 0 0 75px;
    width: 380px;
    height: 170px;

}

.with1 {
    width: 100%;
    height: 40px;

    padding: 10px 15px;
}

.with2 {
    padding: 20px;
}

.with2 > img {
    width: 80px;
}

.with2 > .withtext {
    width: 200px;
    float: right;
}

.with2 > .withtext > h3 {
    font-size: 14px;
    font-weight: 600;
    color: #666;
}

.with2 > .withtext > p {
    margin: 10px 0;
    font-size: 13px;
    color: #666;
}

.withtext > span:nth-of-type(1) {
    font-size: 18px;
    font-weight: 700;
    color: #3b3b3b;
}

.withtext > span:nth-of-type(2) {
    font-size: 10px;
    color: #6d6d6d;
    margin: 0 0 0 115px;
}

.with2 > .withtext > input {
    float: right;
}

.with1 > h4 {
    font-size: 12px;
    font-weight: 800;
    color: #666;
    letter-spacing: 1px;

}

#show {
    width: 1200px;
    height: 420px;
    margin: 0 auto;

}

#show > h1 {
    font-weight: 600;
    color: #666;
    font-size: 25px;
    margin: 0 0 10px 60px;
}

#show > .sbox {
    width: 250px;
    height: 300px;
    float: left;

    cursor: pointer;
}

#show > div:nth-of-type(1) {
    margin: 20px 0 0 60px;
}

#show > div:nth-of-type(2) {
    margin: 20px 0 0 15px;
}

#show > div:nth-of-type(3) {
    margin: 20px 0 0 15px;
}

#show > div:nth-of-type(4) {
    margin: 20px 0 0 15px;
}

#show > .sbox > img {
    width: 230px;
}

#show > .sbox > h4 {
    margin: 5px 0 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #666;
}

#show > .sbox > p {
    margin: -8px 10px 0 0;
    font-weight: 600;
    font-size: 18px;

    color: #666;
}

.productdetail {
    width: 1200px;
    height: 150px;
    margin: 0 auto;

    padding: 60px 0;
}

.productdetail > ul {
    font-size: 15px;
    margin: 10px 0 0 60px;
}

.productdetail > ul > li {
    float: left;
    width: 340px;
    padding: 10px;
    border: 1px solid #dfdfdf;
    text-align: center;
    background-color: #f4f4f4;
}

.productdetail > ul > li > a {
    color: #666;
}

.productdetail > ul > li:nth-of-type(1) {
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: none;
}

.asa {
    width: 1200px;
    height: 4000px;
    margin: 0 auto;
}

.asa > img {
    width: 100%;
}

.detail {
    width: 1200px;
    height: 1070px;
    margin: 0 auto;
}

.detail > h3 {
    font-weight: 600;
    color: #666;
    font-size: 25px;
    margin: 0 0 10px 60px;
}

.detail > p {
    margin: 10px 0 0 60px;
    font-size: 13px;
    color: #666;
}

.detail > table {
    color: #666;
    font-size: 14px;
}

.detail > table > td,
th {
    margin: 0 0 0 60px;
    float: left;
    padding: 10px 0;

}

.line {
    border-bottom: 1px solid #cfcfcf;
    width: 1020px;
    margin: 10px 0 10px 60px;
}

#specline {
    border-bottom: 1px solid #cfcfcf;
    width: 1020px;
    margin: 10px 0 10px 60px;
}

#reviewline {
    border-bottom: 1px solid #cfcfcf;
    width: 1020px;
    margin: 10px 0 10px 60px;
}
