@charset "utf-8";

.main {
    width: 100%;
}

/*breadcrumb*/
.breadcrumb {
    padding: 10px 40px;
    list-style: none;
    background-color: #eee;
  }
  
.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
.breadcrumb li+li:before {
    padding: 8px;
    color: #666;
    content: ">";
  }
  
.breadcrumb li a {
    color: #666;
  }
  
 .breadcrumb li a:hover {
    color: #01447e;
  }

.category > nav > ul > li {
    color: #fcd94a;
    font-weight: 700;
}

/*product*/
.product {
    padding: 40px;
}

.product-info {
    display: flex;
}

.product-info > * {
    width: 50%;
}

.product-info__img img {
    width: 100%;
}

.product-info__desc {
    padding: 0 0 0 40px;
}

.product-info__desc .table {
    width: 100%;
    font-size: 14px;
}

.product-info__desc td {
    height: 40px;
}

.product-info__desc .name{
    font-weight: 600;
    font-size: 30px;
}

.product-info__desc .price {
    font-size: 30px;
    font-weight: 600;
}

.product-info__desc .price:before {
    content: "$";
    font-size: 12px;
}

.product-info__desc .notice {
    color: orange;
}

.product-info__desc .store {
    text-decoration: underline;
}

.product-info__desc .btn-add {
    width: 100%;
    border: none;
    font-weight: 700;
    background-color: #00589e;
    color: #fff;
    padding: 15px 0;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
}

/*with item*/
.with {
    width: 100%;
    margin-top: 20px;
}

.with .tit {
    font-size: 16px;
}

.with-item {
    display: flex;
    justify-content: center;
    padding: 30px 0 0;
}

.with-item__img {
    width: 25%;
}
.with-item__img img {
    width: 60%;
}

.with-item__txt {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-around;
}   

.with-item__txt span {
    display: block;
}   

.with-item__txt .name {
    font-size: 14px;
    font-weight: 600;
}   

.with-item__txt .price {
    font-size: 18px;
    font-weight: 700;
}

.with-item__txt .add::before {
    display: inline-block;
}       

/*other item*/
.other {
    margin: 40px 0;
}

.other .tit {
    font-weight: 600;
    font-size: 25px;
}

.other-list {
    display: flex;
    margin-top: 20px;
}

.other-list li{
    width: 25%;
}

.other-list li:not(:first-child) {
    margin-left: 2%;
}

.other-item {
    display: block;
}

.other-item img {
    width: 100%;
}

.other-item span {
    display: block;
}

.other-item .name {
    margin: 5px 0;
}

.other-item .price {
    font-size: 16px;
}

/*detail*/
.detail__tabs {
    width: 100%;
    display: flex;
}

.detail__tabs li {
    width: 33.3%;
    padding: 10px;
    border: 1px solid #dfdfdf;
    text-align: center;
    background-color: #f4f4f4;
}

.detail__tabs li:nth-of-type(1) {
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 0;
    border-bottom: none;
}

.detail__img {
    width: 100%;
}

.detail__spec .tit {
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 25px;
    border-bottom: 1px solid #cfcfcf;
}

.detail__spec .table {
    text-align: left;
}

.detail__spec .table tr {
    height: 40px;
}

.detail__spec .table td {
    padding-left: 40px;
}

@media (max-width:768px) {
    .product {
        padding: 20px 20px;
    }
    .breadcrumb {
        padding: 10px 20px;
      }
    .with-item__img {
        width:50%;
    }
    .with-item__txt {
        width:50%;
    }
    .product-info {
        flex-wrap: wrap;
    }
    .product-info > * {
        width: 100%;
    }
    .product-info__desc {
        padding: 10px 0 0 0;
        color: #666;
    }
    .product-info__desc .price {
        text-align: right;
    }
    .other-list {
        flex-wrap: wrap;
    }
    .other-list li{
        width: 49%;
        margin-bottom: 3%;
    }
    .other-list li:not(:first-child) {
        margin-left: 0;
    }
    .other-list li:nth-child(2n) {
        margin-left: 2%;
    }
}