/************************************/
/*               forms              */
/************************************/
.form-select-inline {
	display: inline-block;
	width: auto;
}
.form-datepicker {
	padding-right: 30px;
	background: url(/static/img/common/daybutton.png) right 10px center no-repeat;
}