/************************************/
/*            pagination            */
/************************************/
.pagination {
	@include display-flex(flex, center, center);
	margin: 15px 0;
	a {
		@include display-flex(inline, center, center);
		min-width: 30px;
		height: 30px;
		margin: 0 5px;
		text-align: center;
		color: $body-color;
		&.page-arr {
			border-radius: 50%;
			border: 1px solid $border-color;
			& + .page-arr {
				margin-left: 0;
			}
			&:hover {
				background-color: $gray-100;
			}
		}
	}
	.pages {
		@include display-flex(flex, center, center);
		margin: 0 5px;
		a {
			&.on {
				text-decoration: underline;
				font-weight: $font-weight-bold;
				color: $primary;
			}
		}
	}
}