@charset "UTF-8";
@import url("font.css");

html {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
	        box-sizing: inherit;
}

/* html5 reset add */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size:14px;}
a{margin: 0; padding: 0;}

/* default css */
html, body {width:100%;height:100%;margin:0;padding:0; font-family:"Noto Sans CJK KR"; font-weight:400;}
h1, h2, h3, h4, h5, h6 {text-align:left;font-weight:normal;margin:0; padding:0; border:0; font-smoothing:antialiased; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
table {table-layout:fixed; margin:0; padding:0; border:0; border-collapse:collapse;}
td, th {empty-cells:show;}
form, img, fieldset, legend, input, select, textarea, div, p, dl, dt, dd, ul, ol, li, fieldset, blockquote, th, td, iframe {margin:0;padding:0;border:0;}
ul, ol, li {list-style:none;}
a {color:#233455;}
a:link, a:visited {text-decoration:none;}
a:hover, a:active {/* box-sizing:border-box; */}
em, address {font-style:normal;}
textarea {overflow:auto;}
hr, legend, caption {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; font-size:0; line-height:0; margin-left:-55555px;}
caption, th {text-align:left;}
td {vertical-align:middle;}
img {vertical-align:top;}
.hide {display:none;}

.hidden {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
}

.skip_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skip_link {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 5000;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
}

.skip_link:focus, .skip_link:hover, .skip_link:active {top: 0;}

select.select_type1 {
  min-width: 125px;
  padding:.6em .5em;
  font-family: inherit;
  background: url(../img/common/sel_arrow.png) no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #dcdcde;
  border-radius: 0px;
}
select.select_type2 {
  min-width:80px;
  padding:.5em 3em;
  font-family: inherit;
  background:#fff url(../img/common/sel_arrow3.png) no-repeat 90% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #dcdcde;
  border-radius: 0px;
  color:#000;
  font-size:18px;
}

select::-ms-expand {/* for IE 11 */  display: none;}

input.input_type01 {height:40px; line-height:40px; padding:0 10px; background:#fff; border:1px solid #d7d7d7; color:#201f2d; font-size:16px; }
input.input_type02 {height:37px; line-height:37px; padding:0 10px; background:#fff; border:1px solid #d7d7d7; color:#201f2d; font-size:22px; }
input.input_type03 {height:50px; line-height:50px; padding:0 10px; background:#fff; border:1px solid #d7d7d7; color:#201f2d; font-size:16px; }

input.search_inpu {height:50px; line-height:50px; padding:0 10px; background:#fff; border:1px solid #d7d7d7; color:#201f2d; font-size:16px; }
textarea.txt_box1 {width:90%; height:100px; overflow-y:auto; padding:0 5%; margin:10px 0px; border:1px solid #d7d7d7;}

/* table */
.table_type1 {width:100%;}
.table_type1 table {width:100%;}
.table_type1 table thead th {word-break:break-all;word-wrap:break-word; font-weight:bold; color:#232323; background:#edf2f9; padding:15px 0px; text-align:center;border-top:solid 1px #dddddd;border-right:solid 1px #dddddd;border-bottom:solid 1px #dddddd; }
.table_type1 table thead th:first-child {border-left:solid 1px #dddddd;}
.table_type1 table tbody td:first-child {border-left:solid 1px #dddddd;}
.table_type1 table tbody tr:hover td {background:#ffebeb;}
.table_type1 table tbody td {word-break:break-all;word-wrap:break-word;border-right:solid 1px #dddddd;border-bottom:solid 1px #dddddd; background:#fff; text-align:center; padding:10px 0px;}
.table_type1 table tbody tr:nth-child(even) td {background:#fafafa;}
.table_type1 table tbody tr:nth-child(even):hover td {background:#e4e4e4;}
/* .table_type1 table tbody tr:nth-child(odd) td {background:#fafafa;} */
.table_type1 table tbody td.none_bg2 {background:#f9fafd;}
.table_type1 table tbody th {word-break:break-all; word-wrap:break-word; background:#f3f3f3; text-align:center;border-top:solid 1px #dddddd;}
.table_type1 table tbody th.topbb_boder {border-top:solid 1px #dddddd; border-bottom:solid 1px #dddddd;border-left:solid 1px #dddddd;}
.table_type1 table tbody td.top_boder {border-top:solid 1px #dddddd; border-right:solid 1px #dddddd; }
.table_type1 table tbody td .flwrap {overflow:hidden;}
.table_type1 table tbody td span.first {float:left;}
.table_type1 table tbody td span.last {float:right;}

/*  팝업 관련 소스 */
.pop-layer .pop-container {position:relative;padding: 10px 15px; background:#f5f5f5;}
.pop-layer4 .pop-container {position:relative; background:#f5f5f5; padding:20px 0px;}
.pop-layer .btn-r {width: 100%;margin: 10px 0 20px;padding-top: 10px;border-top: 1px solid #DDD;text-align: right;}
.pop-layer {display: none;position: absolute;top: 50%;left:50%;width:1290px;height: auto;background-color: #f5f5f5;z-index: 10; border-radius:5px;}
.pop-layer2 {display: none;position: absolute;top: 50%;left:50%;width:900px;height: auto;background-color: #f5f5f5;z-index: 10; border-radius:5px;}
.pop-layer3 {display: none;position: absolute;top: 50%;left:50%;width:1200px;height: auto;background-color: #f5f5f5;z-index: 10; border-radius:5px;}
.pop-layer4 {display: none;position: absolute;top: 50%;left:50%;width:1300px;height: auto;background-color: #f5f5f5;z-index: 10; border-radius:5px;}
.pop-layer5 {display: none;position: absolute;top: 50%;left:50%;width:850px;height: auto;background-color: #f5f5f5;z-index: 10; border-radius:5px;}
.dim-layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;}
.dim-layer .dimBg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer .pop-layer {display: block;}
.dim-layer .pop-layer2 {display: block;}
.dim-layer .pop-layer3 {display: block;}
.dim-layer .pop-layer5 {display: block;}
.dim-layer_submit {display: none;position: fixed;_position: relative;top: 0;left: 0;width: 100%;height: 100%;z-index: 110;}
.dim-layer_submit .dimBg {position: relative;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer_submit .pop-layer {display: block;}
.dim-layer_submit .pop-layer2 {display: block;}
.dim-layer_submit .pop-layer3 {display: block;}
.dim-layer_pdf .pop-layer5 {display: block;}
.dim-layer_pay {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;}
.dim-layer_pay .dimBg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer_pay .pop-layer4 {display: block;}
.dim-layer_monitoring {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 100;}
.dim-layer_monitoring .dimBg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity=50);}
.dim-layer_monitoring .pop-layer {display: block;}
.dim-layer_monitoring .pop-layer2 {display: block;}
.dim-layer_monitoring .pop-layer3 {display: block;}
.dim-layer_monitoring .pop-layer4 {display: block;}

.btn-laypop {border:solid 1px #efefef; border-radius:3px; padding:10px 20px; display:inline-block;}
.btn-laypop_monitoring {border:solid 1px #efefef; border-radius:3px; padding:10px 20px; display:inline-block;}
.btn-layerClose {background:url(/static/img/common/btn_cross.png) left top no-repeat; width:18px; height:18px; font-size:0px; text-indent:-555555px; display:inline-block; position:absolute; top:40px; right:40px;}
.prd_box {background:#edf2f9;}

/* btn */
a.wblack_btn1 {display:inline-block; padding:0px 50px; height:50px; line-height:50px; color:#fff; background:#343a43; border-radius:5px;}
a.sky_btn1 {display:inline-block; padding:0px 50px; height:50px; line-height:50px; color:#fff; background:#00a2ff; border-radius:5px;}
a.blue_btn1 {display:inline-block; padding:0px 50px; height:50px; line-height:50px; color:#fff; background:#0057e5; border-radius:5px;}
a.blue_btn2 {display:inline-block; padding:0px 50px; height:50px; line-height:50px; color:#fff; background:#0057e5; border-radius:5px;}
a.grays_btn1 {display:inline-block; padding:0px 50px; height:50px; line-height:50px; color:#fff; background:#343a43; border-radius:5px;}
a.grays_btn2 {display:inline-block; padding:0px 50px; height:50px; line-height:50px; color:#fff; background:#666666; border-radius:5px;}
a.black_btn1 {display:inline-block; width:100px; height:48px; line-height:48px; color:#26292e; border:solid 1px #26292e; background:#fff; border-radius:5px; text-align:center;}
a.black_btn2 {display:inline-block; width:100px; height:50px; line-height:51px; color:#fff; background:#26292e; border-radius:5px; text-align:center;}
a.black_btn1:hover {box-sizing: unset;}
/* 손가락 표시 */
.click {cursor:pointer;}


/* -- margin -- */
/* top */
.mt5  {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}

/* bottom */
.mb5  {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb80 {margin-bottom:80px;}
.mb100 {margin-bottom:100px;}
.mb150 {margin-bottom:150px;}

/* left */
.ml0 {margin-left:0px;}
.ml5  {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml35 {margin-left:35px;}
.ml40 {margin-left:40px;}
.ml50 {margin-left:50px;}
.ml70 {margin-left:70px;}
.ml80 {margin-left:80px;}
.ml100 {margin-left:100px;}

/* right */
.mr5  {margin-right:5px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr40 {margin-right:40px;}
.mr50 {margin-right:50px;}

.ms10 {margin-left:10px; margin-right:10px; font-size:14px;}

/* -- padding -- */
/* top */
.pt5  {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}

/* bottom */
.pb5  {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb25 {padding-bottom:25px;}

/* left */
.pl5  {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl40 {padding-left:40px;}
.pl50 {padding-left:50px;}
.pl70 {padding-left:70px;}
.pl100 {padding-left:100px;}
.pl120 {padding-left:120px;}
.pl140 {padding-left:140px;}
.pl160 {padding-left:160px;}
.pl180 {padding-left:180px;}

/* right */
.pr5  {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}
.pr40 {padding-right:40px;}
.pr60 {padding-right:60px;}


/* -- vertical-align -- */
.vtaT {vertical-align:top;}
.vtaM {vertical-align:middle;}
.vtaB {vertical-align:bottom;}
.mg_a {margin:0 auto; }

/* -- text-align  -- */
.tar {text-align:right;}
.tac {text-align:center;}
.tal {text-align:left;}


/* -- line-height -- */
.lh18 {line-height:18px;}
.lh20 {line-height:20px;}
.lh22 {line-height:22px;}
.lh24 {line-height:24px;}
.lh26 {line-height:26px;}
.lh28 {line-height:28px;}
.lh30 {line-height:30px;}
.lh44 {line-height:44px;}

/* -- font -- */
.fs8 {font-size:8px;}
.fs11 {font-size:11px;}
.fs12 {font-size:12px;}
.fs14 {font-size:14px; line-height:16px;}
.fs14_b {font-size:14px; line-height:16px; font-weight:bold;}
.fs15 {font-size:15px; line-height:16px;}
.fs15_b {font-size:15px; line-height:16px; font-weight:bold;}
.fs16 {font-size:16px; line-height:16px;}
.fs16_b {font-size:16px; line-height:16px; font-weight:bold;}
.fs18 {font-size:18px; line-height:18px;}
.fs18_b {font-size:18px; line-height:18px; font-weight:bold;}

.fwn {font-weight:normal;}
.fwb {font-weight:bold;}


/* -- letter-spacing --*/
.letspa {letter-spacing:-1px;}


/* -- border -- */
.bdrT {border-top:0px; }
.bdrL {border-left:0px; }
.bdrR {border-right:0px; }
.bdrB {border-bottom:0px; }

.b_none {background:none }

/* -- clear -- */
.clear:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clear {clear:both;}

/* -- float -- */
.fl_l {float:left;}
.fl_r {float:right;}
.ov_h {overflow:hidden;}

/* -- display -- */
.dpib {display:inline-block;}
.dpb {display:block;}
.dpn {display:none;}

.tdu {text-decoration:underline;}




/*  ===================================================================================  */
.good {color:#4595ff}
.normal {color:#ffa800}
.bad {color:#ffa800;}
.verybad {color:#f42222;}
.red {color:#ff0000}
.blue {color:#0026ff}
.sky {color:#00a2ff}
.up_red {color:#f42222; font-weight:normal}
.dw_blue {color:#2282f4; font-weight:normal}
.midd_gray {color:#0d70e9; font-weight:normal}
.save_btn {display:inline-block; padding:15px 45px; background:#1d9add; color:#fff; border-radius:5px;}
.cancel_btn {display:inline-block; padding:15px 45px; background:#aaaaaa; color:#fff; border-radius:5px;}
.cancel_btn2 {display:inline-block; padding:15px 45px; background:#fff; color:#232323; border-radius:5px;}
.cancel_btn3 {display:inline-block; padding:15px 45px; background:#fff; color:#232323; border-radius:5px; font-size:16px;}
.save_btn15 {display:inline-block; padding:10px 15px; background:#1d9add; color:#fff; border-radius:5px;}
.save_btn2 {display:inline-block; padding:15px 35px; background:#1947ba; color:#fff; border-radius:5px; font-size:16px;}
.txt_left {text-align:left;}
.txt_right {text-align:right;}
.txt_center {text-align:center;}


ul.titlp1 li.first {float:left;}
ul.titlp1 li.first strong {color:#0047ba;}
ul.titlp1 li.first p {color:#444444;}
ul.titlp1 li.last {float:right; line-height:44px}
ul.titlp1 .sod_select.custom.custom {width:127px; height:43px; line-height:43px; background:#f4f4f4;}
ul.titlp1 .sod_select.custom .sod_list {line-height:15px;}
ul.titlp1 .sod_select.custom .sod_option.selected {line-height:15px;}
ul.titlp1 .sod_select.custom .sod_option {line-height:15px;}
ul.titlp1 .sod_select.custom:after {top:18px; background:url(../img/common/sel_arrow3.png) left 50% no-repeat;}
ul.titlp1 li.last span { line-height:44px; padding:0 10px;}

.ven_titl1 {margin:0px 30px 30px 0px; font-size:16px; line-height:22px;}
.ven_titl1 strong {font-weight:bold; font-size:18px; display:inline-block; margin-right:10px;}
.wbtit {font-weight:bold; font-size:16px; line-height:18px; margin-bottom:10px;}
.pdf_file {display:inline-block;margin-left:10px;}
.btn_list1 {overflow:hidden;}
.btn_list1 li.first {float:left;}
.btn_list1 li.last {float:right;}
.selb_list1 li.first {float:left;margin-top:7px;}
.selb_list1 li.last {float:right;}
.selb_list1 .sod_select.custom.custom {width:100px;}

.poptit {font-size:20px; margin-bottom:20px;margin-top:20px; margin-left:20px;}
.prd_bg1 {background:#edf2f9; padding:25px 20px; width:1220px; margin:0 auto; overflow:hidden;}
.prd_bg2 {background:#edf2f9; padding:25px 20px; width:810px; margin:0 auto;}
.prd_bg3 {background:#edf2f9; padding:25px 20px; width:810px; margin:0 auto;}
.prd_bg4 {background:#edf2f9; padding:25px 20px; width:810px; margin:20px auto;}
ul.vento1-box li {border-radius:10px; background:#fff; width:250px; }
ul.vento1-box li.prd_signa {position:relative; overflow:auto;height:190px;padding-bottom:10px; margin-bottom:20px;}
ul.vento1-box li.prd_signa dl.vent1_test {margin-top:30px; margin-bottom:90px; margin-left:20px;}
ul.vento1-box li.prd_signa dl.vent1_test dt {font-size:18px; line-height:18px; margin-bottom:5px;}
ul.vento1-box li.prd_signa dl.vent1_test dd {font-size:16px; line-height:16px;}
ul.vento1-box li.prd_signa .signal {margin-left:20px;}
ul.vento1-box li.prd_signa .signal strong.normal {color:#31c788;}
ul.vento1-box li.prd_signa .signal strong.bad {color:#d83a41;}
ul.vento1-box li.prd_signa .signal img {vertical-align:middle;}
ul.vento1-box li.prd_signa .pdrut {position:absolute; top:33px; right:40px;}
ul.vento1-box li.ci_gage {text-align:center; height:190px;padding-bottom:10px;}
ul.vento1-box li.ci_gage h6 {border-radius:10px 10px 0 0; background:#f9fafd; padding:10px 0px; text-align:center; font-size:16px; margin-bottom:10px;}
ul.vento1-box li.ci_gage div.all_iaq {text-align:center; margin-top:-15px;}

.frist-prd_box, .second-prd_box {float:left;}
.second-prd_box {margin-left:20px; width:945px;}
.frist-prd_box p {margin-top:10px; margin-left:10px;}
ul.vento2-box {display:flex; justify-content:flex-start; flex-wrap:wrap;}
ul.vento2-box li {border-radius:10px; background:#fff; width:220px;height:200px; text-align:center; margin:0 8px 20px 8px;}
ul.vento2-box li h6 {border-radius:10px 10px 0 0; background:#f9fafd; padding:10px 0px; text-align:center; font-size:16px; margin-bottom:0px;}
ul.vento2-box li div.all_iaq {text-align:center; margin-top:-10px;}
ul.vento2-box li div.circl_iaq {text-align:center; margin-top:10px;}
ul.vento2-box li.none_iaq {border-radius:10px; background:#d4deeb; height:120px; padding-top:80px;}
ul.vento2-box li.none_iaq span img { vertical-align:middle;}
ul.vento2-box div.circl3 {border-radius:50%; width:125px; height:125px; background:#e2ebfa; text-align:center; margin:0px auto 0 auto; overflow:hidden;}
ul.vento2-box div.circl2 {border-radius:50%; width:105px; height:105px; background:#edf2f8; text-align:center; margin:10px 10px 10px 10px; overflow:hidden;}
ul.vento2-box div.circl1 {border-radius:50%; width:85px; height:85px; background:#f5f8fd; text-align:center; margin:10px 0px 0px 10px;}
ul.vento2-box div.circl1 p { line-height:14px;font-size:30px; padding-top:25px;}
ul.vento2-box div.circl1 span.cmkm {display:block; margin-top:10px;}

ul.vento3-box {display:flex; justify-content:flex-start; flex-wrap:wrap;}
ul.vento3-box li {border-radius:10px; background:#fff; width:220px;height:108px; text-align:center; margin:0 8px 20px 8px;}
ul.vento3-box li h6 {text-align:center; background:url('../img/common/grey_line2.png') center bottom no-repeat; margin-top:20px; padding-bottom:15px; margin-bottom:20px;}
ul.vento3-box li span { display:inline-block;}
ul.vento3-box li span.last {width:90px;}
ul.vento3-box li span.last:before {content:' '; width:1px; height:26px; padding-left:20px; background:url('../img/common/grey_line1.png') left top no-repeat;}
ul.vento3-box li .ven_null {border-radius:10px; background:#d4deeb; width:220px; height:70px; padding-top:40px;}

.prd_bg2 {background:#fff; border-radius:5px;}
.prd_bg3 {background:#fff; border-radius:5px;}
.prd_bg4 {background:#fff; border-radius:5px;}
.pstitl1 {margin-bottom:20px;}
.sel_area label {display:inline-block; margin-left:30px;}
.sel_area label select {margin-left:20px;}

.toph_bg1 label {display:inline-block; margin-left:30px;}
.toph_bg1 label input {margin-right:10px; vertical-align:top; margin-top:20px;}

ul.prd_cont1 {}
ul.prd_cont1 li.first {float:left;}
ul.prd_cont1 li.first .sod_select.custom.custom {width:100px;}
ul.prd_cont1 li.last {float:right;}
ul.prd_cont1:after {content:' '; height:1px; overflow:hidden; clear:both;}

.pdf_files {width:800px; height:400px; overflow-y:scroll; overflow-x:hidden; text-align:center; margin:40px auto;}

.day_cal1 {float:right; width:340px;}
.day_cal1 .ui-datepicker-trigger {margin-left:-36px;margin-top:10px;}
.day_cal1 .hasDatepicker {width:120px;}
.day_cal1 span.iblml15 {display:inline-block; margin-left:15px;}
.day_cal2 {float:right; width:494px;}
.day_cal2 .top_titl1 {display:inline-block;vertical-align: top;margin-top: 10px;font-size:16px;}
.day_cal2 input {vertical-align:top; width:100px;}
.day_cal2 .ui-datepicker-trigger {margin-left:-33px; line-height: 30px;display: inline-block;margin-top: 15px;}
.day_cal3 {float:right; width:494px;}
.day_cal3.w400p {float:right; width:400px;}
.day_cal3 .top_titl1 {display:inline-block;vertical-align: top;margin-top: 10px;font-size:16px;}
.day_cal3 input {vertical-align:top; width:100px;}
.day_cal3 .ui-datepicker-trigger {margin-left:-33px;line-height: 30px;display: inline-block;margin-top: 15px;}

.nslist strong {font-weight:bold; }
.wt_area {overflow:hidden;}
.wt_area .wt_first {float:left;}
.wt_area .wt_first .wbtit {float:left;}
.wt_area .wt_first span {float:left; margin-left:20px;}
.wt_area .wt_last {float:right;}
.chkb1 .first {margin-left:0px;}
.chkb1 label {display:inline-block; margin-left:100px; font-size:16px; line-height:50px;}
.chkb1 label input {line-height:50px;}
